#map {
	position:  fixed;
    width: 100%;
	top: 0;
	bottom: 50%;
	right: 0;
}

#pano {
	position: fixed;
	width: 100%;
	top: 50%;
	bottom: 0px;
	right: 0;

}

#pano img{
	display: none;
}