
.main {
    background: rgba(243, 243, 243, 0.81);
    z-index: 1001;
}
#mag-chart {
    width:100%;
    margin: 0 auto;
}

#date-chart {
    width: 100%;
    margin: 0 auto;
}

.dc-data-count {
    width: 100%;
    margin: 0 auto;
}


@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display : block;
        /*padding: 20px;*/
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #f5f5f5;
        width: 100%;
    }

    .main {
        padding-right: 40px;
        padding-left: 40px;
        width: 600px;
    }

}

@media (min-width: 0px) and (max-width: 767px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display: table-cell;
        /*padding: 20px;*/
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: #f5f5f5;
        width: 100%
    }

    .main {
        padding-right: 10px;
        padding-left: 10px;
        width: 100%
    }
}